{box-sizing: border-box;}

header {
    background-color: #23645C;
    color: #ECE6D9;
    text-align: center;
    font-family:'Courier New', Times, serif;
    padding: 0.05em;
    font-size: 1.5em;
}

header a {
    text-decoration: none;
}
a:link {text-decoration: none; color: #ECE6D9;}
a:visited {text-decoration: none; color: #ECE6D9;}
a:hover {text-decoration: none; color: #ECE6D9;}

body {
    background-color: #ECE6D9;
    color: #1C1C1C;
    font-family:'Courier New', Times, serif;
    margin: 0;
}

nav {
    background-color: #1C1C1C;
    color: #ECE6D9;
    font-weight: bold;
    text-align: center;
    padding: .1em;
    font-size: 1.25em;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: .1em;
}

nav a {
    list-style-type: none;
}
nav a:link {color: #ECE6D9;}
nav a:visited {color: #ECE6D9;}
nav a:hover {color: #879681;}

h2 {
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2.5em;
    padding: .5em;
    padding-bottom: 0;
    margin: 0;
}

p {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: .25em;
    text-align: center;
}

footer {
    background-color: #1C1C1C;
    color: #C3C6BF;
    text-align: center;
    width: 100%;
}

#wrap {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: .1em .1em .1em 0 solid #1C1C1C;
}

video {
    width: 50%;
    height: 50%;
    max-width: 750px;
    position: relative;
    display: block;
    margin: auto;
    border: 4px solid #1C1C1C;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.stickyFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 400px){
    nav li {
        border-bottom: none;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    table {
        font-size: .5em;
    }
}

@media (min-width: 1024px){
    nav {
        padding: 1em;
    }
    nav ul {
        flex-direction: row;
        font-size: 1em;
    }
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #23645C;
    top: 0;
    bottom: 0;
    left: 25%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 75%;
    background-color: #1C1C1C;
    border: 4px solid #23645C;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.right {
    left: 25%;
}

.right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .right::after {
        left: 15px;
    }
    .right{
        left: 0%;
    }
}

/* IMAGE GALLERY */
.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
}

/* makes image smaller and tilt when hovering */
.img-gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px #1C1C1C;
}

/* centers image with dark background when selected */
.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

/* X in top right */
.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #ECE6D9;
    cursor: pointer;
}