header {background-color: #FFFFFF;
    color: #000000;
    padding: .5em;
    text-align: center;}

body {color: #000000;
  font-family: "times new roman", serif;
  background-color: #FFFFFF}
  
main {padding-left: .5em;
  padding-right: 1em;
  background-color: #FFFFFF;}
  
iframe {display: none;}

footer {text-align: center;}

nav {display: none;}
